
/* Here is where we can add to or modify project-specific CSS; it has some defaults that you can feel free to modify. Look at the sample.css file
 * to see more examples of what you can do with CSS */
tei-titleStmt > tei-title:first-of-type { font-size: inherit; }
tei-interp, tei-imprimatur, tei-docImprint, tei-div, tei-body, tei-titlePart {display:block}
tei-head tei-lb, tei-l tei-lb {display:none}
tei-p tei-fw {display:block; padding: 8px 8px}
tei-fw {display:block}
.link-from-note {
  float: left;
  margin-left: 0.25em;
  margin-right: 0.5em;
  font-size: 0.95em;}

 
/* Replace the below with your specific categories and color choices to have your analyses appear in the selected colors; there are some bonus colors at the 
 * bottom, and you can also see more here: https://www.w3schools.com/cssref/css_colors.asp */
*[ana="#class-upper"] {color:Gold}
*[ana="#class-middle"] {color:LightSlateGrey}
*[ana="#class-lower"] {color:Brown}
*[ana="#deception"] {color:BlueViolet}
*[ana="#desire"] {color:DeepPink}
*[ana="#fear"] {color:Orange}
*[ana="#happiness"] {color:Plum}
*[ana="#curiosity"] {color:SeaGreen}
*[ana="#sadness"] {color:CornflowerBlue}
*[ana="#surprise"] {color:DarkBlue}
*[ana="#envy"] {color:Lime}
*[ana="#anger"] {color:Red}
*[ana="#emotion"] {color:DarkGoldenrod}
*[ana="#gender"] {color:Turquoise}
*[ana="#"] {color:SteelBlue}
*[ana="#"] {color:Teal}
*[ana="#"] {color:LightSlateGray}
*[ana="#"] {color:Gold}
*[ana="#"] {color:Red}
*[ana="#"] {color:LawnGreen}
*[ana="#"] {color:Red}
*[ana="#spelling"] {color:Purple}